#header {
  background-color: #282828;
}

#header h1 {
  margin: 0;
}

#header h1 a {
  color: transparent;
  display: block;
  padding: 25px 0;
  text-decoration: none;
  background-image: url(images/header-icon.svg);
  background-repeat: no-repeat;
  background-position: 7px center;
  background-size: 400px;
}

.docs.markdown {
  padding: 10px 50px;
  position: absolute;
  overflow-y: auto;
  bottom: 0;
  top: 72px; 
}

